@model SingleSignOn.BusinessLogic.ViewModels.Account.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="login-title">
                    <h2>Forgot Password</h2>
                </div>
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(model => model.Code)
                    @Html.HiddenFor(model => model.UserId)


                    <div class="form-row">
                        <div class="form-group  col-md-4">
                            <label>Email</label>
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.Email)
                            @Html.ValidationMessage("ErrorEnteredEmail")
                        </div>

                        <div class="form-group  col-md-4">
                            <label>New password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.Password)
                        </div>
                        <div class="form-group  col-md-4">
                            <label>Re-enter new password</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model.ConfirmPassword)
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="submit-button">
                            <button type="submit" class="btn blue-btn">Change password</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

@*<h2>@ViewData["Title"]</h2>
    <h4>Reset your password.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">ConfirmPassword</label>
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Reset</button>
            </form>
        </div>
    </div>

    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }*@
